streamlit
numpy
pandas
matplotlib
netCDF4
scipy
xarray
folium
streamlit-folium
trajan
pynucos
plotly
reportlab
opendrift==1.14.0
gdal==3.2.2
































