streamlit
numpy
pandas
matplotlib
netCDF4
scipy
xarray
rasterio
cartopy
folium
streamlit-folium
trajan

# Instala pynucos e opendrift do PyPI (repositório oficial)
pynucos
opendrift


















