streamlit
pandas
numpy==1.26.4
xarray
netCDF4
scipy
matplotlib
folium
streamlit-folium
pynucos
trajan

GDAL==3.4.3

cartopy==0.21.1

git+https://github.com/OpenDrift/opendrift.git



